# name: Tab S11 Ultra Price Checker

# on:
#   schedule:
#     - cron: "0 */3 * * *"  # every 3 hours
#   workflow_dispatch: {}

# jobs:
#   run:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v4
#       - name: Set up Python
#         uses: actions/setup-python@v5
#         with:
#           python-version: "3.11"
#       - name: Install deps
#         run: |
#           python -m pip install --upgrade pip
#           pip install -r requirements.txt
#       - name: Run tracker
#         env:
#           DISCORD_WEBHOOK_URL: ${{ secrets.DISCORD_WEBHOOK_URL }}
#         run: |
#           python tracker.py
